.formulario {
    display: flex;
    flex-direction: column;
    @include texto;
    margin-top: 60px;

    input {
        margin-bottom: 30px;
        margin-top: 5px;
    }

    .consulta {
        padding: 50px;
    }
}

.send{
    list-style: none;
    padding: 10px;
}