.boton {
    color: $color_1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    padding-top: 0;
    font-family: $font-family_2;
    font-weight: bold;
}