$color_1: #FFFFFF;
$color_2: white;
$color_3: #fcb824;
$color_4: #007991;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: Arial, Helvetica, sans-serif;
$font-family_3: 'Monoton', cursive;
$background-color_1: rgb(40, 40, 40);
$background-color_2: #ffaf04;